<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error!</h4>
        <p>{{error}}</p>
        <hr>
        <p class="mb-0">
            <a href="/products" class="btn btn-primary">Volver a productos</a>
        </p>
    </div>
</div> 